<p>secret-list works!</p>
<div>
    <form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
        <select name="page_size" id="page_size" formControlName="pageSize">
            <option value="1" selected>1</option>
            <option value="2">2</option>
        </select>
        <input type="text" id="keyword" name="keyword" placeholder="enter keyword ..." formControlName="keyword">
        <button>Search</button>
    </form>
</div>
<ul>

    @for (sg of secretService.secretGroups$(); track sg.id) {
    <li>
        <p>{{sg.description}}</p>
        <ul>
            @for (s of sg.secrets; track s.id) {
            <li>
                <p>{{s.description}}</p>
                <p>{{s.content}}</p>
            </li>
            }
        </ul>
    </li>
    }
</ul>